.wrapper-channels {
  padding-top: 100px;

  .title-wrapper {
    margin: 0 auto;
    padding: 0 30px;

    @media screen and (max-width: 800px) {
      border-left: 0;
    }

    h1 {
      font-family: "Pirata One", cursive;
      color: white;
      font-weight: 400;
      font-size: 60px;
      margin: 10px 0;
      text-shadow: 0 0 20px rgba(white, .4);

      @media screen and (max-width: 800px) {
        text-align: center;
        font-size: 45px;
      }
    }

    .desc {
      color: white;
      margin-bottom: 40px;
      font-size: 18px;

      @media screen and (max-width: 800px) {
        text-align: center;
      }
    }
  }
}

.all-channels {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  max-width: 1000px;
  padding-bottom: 100px;

  .channel {
    width: 300px;
    height: 150px;
    margin: 15px;

    .-theme-orange{
      border-color: $pink;

      div {
        background: -webkit-linear-gradient($orange, $pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    }

    .-theme-blue {
        border-color: $green;
        div {
          background: -webkit-linear-gradient($blue, $green);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
    }

    .-theme-purple {
      border-color: $lightpurlple;
      div {
        background: -webkit-linear-gradient($purple, $lightpurlple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    }



    a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: rgb(218, 218, 218);
      border-bottom: 1px solid rgba(218, 218, 218, .5);
      background-color: rgba(white, .01);
      font-family: "Pirata One", cursive;
      font-size: 30px;
      transition: .3s;

      &:hover {
        background-color: rgb(215, 215, 215);
        box-shadow: 0 0 10px rgba($color: white, $alpha: .6);
        color: rgb(40, 40, 40);

        div {
          color: black;
          -webkit-background-clip: text;
          -webkit-text-fill-color: rgb(48, 48, 48);
          background: transparent;
        }
      }

      .author {
        display: block;
        position: absolute;
        bottom: 20px;
        font-family: Avenir, Helvetica, Arial, sans-serif;
        font-size: 14px;
      }
    }
  }
}